<a href="https://colab.research.google.com/github/tanveermurad/PIAIC-CLASS/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [ ]:
fav_celebrity = "messi baloch"


print(fav_celebrity)
print(fav_celebrity)
print(fav_celebrity)
print(fav_celebrity)
print(fav_celebrity)

messi baloch
messi baloch
messi baloch
messi baloch
messi baloch

In [ ]:
sentence = "you are loser"
name = "tanveer"
print(sentence + name)

you are losertanveer

In [ ]:
print("dunya")

dunya

In [ ]:
num1 = 10
num2 = 22
print(num1 + num2)

10

In [ ]:
age = 16
name = "tanveer"
nation = "baloch"
formatted_pi = f"I am a {nation} my name is {name} and i am {age}"
print(formatted_pi)

I am a baloch my name is tanveer and i am 16

In [ ]:
num1 = 20
num2 = 30
formatted_pi = f"the sum of {num1} and {num2} is {num1 + num2}"
print(formatted_pi)

the sum of 20 and 30 is 50

In [ ]:

name = "tanveer"
number = 10

print(type(name))

<class 'str'>

In [ ]:
name = "tanveer"
age = 18
formatted_pi = f"my name is {name} and i  am {age} old"

print (formatted_pi)
print(f"my name is {name}")

my name is tanveer and i  am 18 old
my name is tanveer

In [ ]:
paragarap = """i am tanveer .
i am 16 years old
I AM a programmer"""

print(paragarap)

i am tanveer .
i am 16 years old
I AM a programmer

In [ ]:
item1 = 10
item2 = 20
result = item1 * item2
print ("multiply:",result)

multiply: 200

In [ ]:
five = 5
print(five **2)

25

In [ ]:
userloggin = True
Userloggout = False

print(userloggin)
print (type(userloggin))

True
<class 'bool'>

In [ ]:


is_hunger =True
burger_lover = False
pizza_lover = fA

if (is_hunger and (pizza_lover or burger_lover) ):
  print("order the pizza")
elif (is_hunger and burger_lover):
    print("order the burger")
else:
    print("NOT hungery")
    print("NOT hungery")

NOT hungery
NOT hungery

LIST

In [15]:
from typing import List

#shoping list

item_1 : str = "egg"
item_2 : str = "milk"
item_3 : str = "bread"
item_4 : str = "cake"
item_5 : str = "butter"
item_6 : str = "cheese"

shopping_list : list[str]= ["egg","milk","bread","cake","butter","cheese"]
print(shopping_list)

Task : List[str]= ["WORK","EXERCISE","SLEEP"]

print(Task)

['egg', 'milk', 'bread', 'cake', 'butter', 'cheese']
['WORK', 'EXERCISE', 'SLEEP']

**LIST INDEX**

In [18]:
shopping_list : list[str]= ["egg","milk","bread","cake","butter","cheese"]
#                          [ 0      1      2       3      4        5 ]


print (shopping_list[2])
print (shopping_list[5])

bread
cheese

**LENGTH**

In [17]:
shopping_list : list[str]= ["egg","milk","bread","cake","butter","cheese"]
#                          [ 0      1      2       3      4        5 ]



print (len(shopping_list))

bread
cheese
6

# ***slicing List***

In [22]:
shopping_list : list[str]= ["egg","milk","bread","cake","butter","cheese"]
#                          [ 0      1      2       3      4        5 ]

print (shopping_list[0:3])

['egg', 'milk', 'bread']